name: Build and Push Docker Image

on: 
    push:
        branches: 
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            
            - name: Login to Docker hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: Build Docker image
              run: |
                cd ./HomeApps_WebApp
                docker build \
                -f ./Dockerfile.prod \
                -t ${{ secrets.DOCKERHUB_USERNAME }}/home-apps-app:latest \
                -t ${{ secrets.DOCKERHUB_USERNAME }}/home-apps-app:${{ github.sha }} \
                . 

            - name: Push Docker image
              run: |
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/home-apps-app:latest \
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/home-apps-app:${{ github.sha }}